body{
  margin: 0;
  text-align: center;
}
h1{
  width: 10%;
  margin: 0 auto 0 auto;
  font-family: 'Source Code Pro', monospace;
}
.top{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud{
  position: relative;
bottom: 300px

}
.upper-cloud{
  position: relative;
  left: 300px;
  top: 20px;
}
.middle-container{

}
.bottom-container{
  
}
